{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/incomeform.css' %}" />
{% endblock %}


{% block content %}

{% comment %} CONSIDER: Putting conditional for a PUT req
inside the account view just like regular POST (b/c at no point)
do we need to see the details {% endcomment %}
{% if income_source.id is not None %}
    <form action="{% url 'fundstrackerapp:income_source' income_source.id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
{% else %}
    <form action="{% url 'fundstrackerapp:account' %}" method="post">
{% endif %}
    {% comment %} <form action="{% url 'fundstrackerapp:account' %}" method="post"> {% endcomment %}
      {% csrf_token %}
      <fieldset>
          <label for="name">Name:</label>
          <input id="name" type="text" name="name" value="{{ income_source.name }}" />
      </fieldset>
      <fieldset>
          <label for="total">Total Income: </label>
          <input id="total" type="text" name="total" value={{ income_source.total }} />
      </fieldset>

       <input type="submit" value="Submit" />
    </form>

{% endblock %}