{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/incomelist.css' %}" />
{% endblock %}

{% block content %}
    <div class="account__container">
        <section class="user_info">
            <img />
            <div class="name_container">
                <h2>Name:</h2>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="username_container">
                <h2>Username:</h2>
                <p>{{ user.username }}</p>
            </div>
        </section>

        <section class="income_sources">
            <h2>Income Sources:</h2>
            <div class="button__container">
                <a href="{% url 'fundstrackerapp:income_form' %}">
                    <button class="btn btn-primary btn-sm">Add Income Source</button>
                </a>
            </div>
            <ul>
                <div class="income_source__container">
                {% for income in all_incomes %}
                    <a href="{% url 'fundstrackerapp:income_edit_form' income.id %}">
                        <li>{{ income.name }}: {{ income.total }}</li>
                    </a>
                {% endfor %}
                </div>
            </ul>
        </section>

        <section class="monthly_expenses">
            <h2>Monthly Expenses:</h2>
            <div class="button__container">
                <a href="{% url 'fundstrackerapp:expense_form' %}">
                    <button class="btn btn-primary btn-sm">Add Expense</button>
                </a>
            </div>
            <ul>
                <div class="monthly_expense__container">
                {% for expense in all_expenses %}
                    <a href="{% url 'fundstrackerapp:expense_edit_form' expense.id %}">
                        <li>{{ expense.name }}: {{ expense.total }}</li>
                    </a>
                {% endfor %}
                </div>
            </ul>
        </section>
    <div>
{% endblock %}