{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FundsTracker</title>

    {% comment %} Bootstrap CSS {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% comment %} In-house CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>

    <nav class="site-nav" id="site-nav">
        <div class="logo">FundsTracker <span class="tagline">here to help you build wealth</span></div>

        <div class="navList__container">
            <ul class="navList">
                {% if user.is_authenticated %}
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:home' %}">Home</a></li>
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:account' %}">Account</a></li>
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:goals' %}">Goals</a></li>
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:journal_list' %}">Journal</a></li>
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:logout' %}">Logout</a></li>
                {% else %}
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:login' %}">Login</a></li>
                <li class="navList__route"><a class="nav_link" href="{% url 'fundstrackerapp:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% comment %} 
        Including the new template with script tags for the CDNs 
        for jQuery and Chart.js (both necessary for the chart) 
    {% endcomment %}
    {% include 'shared/js.html' %}
    
    {% block scripts %}
    <script>

    {% comment %} 
        When the document loads we're loading the jquery blocks 
        from our homepage template
     {% endcomment %}
    $(document).ready(function() {
        {% block jquery %}{% endblock %}
    })

    </script>
    {% endblock scripts %}

</body>

</html>