{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/goals.css' %}" />
{% endblock %}

{% block content %}
<div class="completed_goals__container">
    <h1>Completed Goals:</h1>
    <ul>
    {% for goal in completed_goals %}
        <li>{{ goal.goal }}</li>
        <span>Timeframe: {{ goal.timeframe }} Month</span>
        <br />
        <span>Created: {{ goal.created_at }}</span>
    {% endfor %}
    </ul>
    <a href="{% url 'fundstrackerapp:goals' %}">
        <button>Back to Goals</button>
    </a>
<div>
{% endblock %}