{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/goalform.css' %}" />
{% endblock %}


{% block content %}

{% if financial_goal.id is not None %}
    <form action="{% url 'fundstrackerapp:goal_details' financial_goal.id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
{% else %}
    <form action="{% url 'fundstrackerapp:goals' %}" method="post">
{% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="name">Goal Name:</label>
          <input id="name" type="text" name="name" value="{{ financial_goal.goal }}" />
      </fieldset>
      <fieldset>
          <label for="time_horizon">Time Horizon:</label>
          <select id="time_horizon" name="time_horizon" required>
            <option hidden disabled selected value> -- select an option -- </option>
            <option value="1">1 Month</option>
            <option value="3">3 Months</option>
            <option value="6">6 Months</option>
            <option value="12">1 Year</option>
          </select>
      </fieldset>
      
       <input type="submit" value="Submit" />
       
       {% if financial_goal.id is not None %}
       <form action="{% url 'fundstrackerapp:goal_details' financial_goal.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE" />
            <button onclick="return confirm('Are you sure?');">Delete</button>
       </form>
       {% endif %}
    </form>

{% endblock %}