{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/goals.css' %}" />
{% endblock %}

{% block content %}
    <div>
        <h1>Goals</h1>
        <a href="{% url 'fundstrackerapp:goal_form' %}"><button>Create a New Goal</button></a>

        <div class="goals__container">
            <section class="one_month_goals">
                <h1>1 Month</h1>
                <ul>
                    {% for goal in one_month_goals %}
                    <li>{{ goal.goal }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section class="three_month_goals">
                <h1>3 Month</h1>
                <ul>
                    {% for goal in three_month_goals %}
                    <li>{{ goal.goal }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section class="six_month_goals">
                <h1>6 Month</h1>
                <ul>
                    {% for goal in six_month_goals %}
                    <li>{{ goal.goal }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section class="twelve_month_goals">
                <h1>12 Month</h1>
                <ul>
                    {% for goal in twelve_month_goals %}
                    <li>{{ goal.goal }}</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    <div>
{% endblock %}