{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/expenseform.css' %}" />
{% endblock %}


{% block content %}

{% if expense.id is not None %}
    <h1 class="header">Update Expense</h1>
{% endif %}

<div class="form__container">
{% if expense.id is not None %}
    <form action="{% url 'fundstrackerapp:expense_details' expense.id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
{% else %}
    <form action="{% url 'fundstrackerapp:account' %}" method="post">
{% endif %}
      {% csrf_token %}
      <input type="hidden" name="expense"/>
      <fieldset>
          <label for="name">Name:</label>
          <input class="form-control expense_name__input" id="name" type="text" name="name" required value="{{ expense.name }}" />
      </fieldset>
      <fieldset>
          <label for="total">Cost: </label>
          <input class="form-control expense_value__input" id="total" type="text" name="total" pattern="^[0-9]+(\.)?[0-9]+$" title="Please follow valid format (no commas)" required placeholder="Ex: 150.00" value="{{ expense.total }}" />
      </fieldset>

       <input class="btn btn-primary btn-sm" type="submit" value="Submit" />
    </form>

    {% if expense.id is not None %}
        <form action="{% url 'fundstrackerapp:expense_details' expense.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE" />
            <button class="btn btn-danger btn-sm delete__button" onclick="return confirm('Are you sure?');">Delete</button>
        </form>
    {% endif %}
</div>

{% endblock %}