.header {
    display: flex;
    justify-content: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    /* margin-top: 5px; */
}

.form-control {
    margin-bottom: 5px;
}