.header {
    display: flex;
    justify-content: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense_name__input {
    margin-bottom: 5px;
}

.expense_value__input {
    margin-bottom: 5px;
}

.delete__button {
    margin-top: -58px;
    margin-left: 7px;
}