.header_nav_links__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Applies to current and completed goal list templates  */
.goal_list__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

/* Applies only to completed goal list template */
.back_btn {
    margin-top: 10px;
}

.completed_goal__container {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.nav_links {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goals_header {
    font-size: 3em;
}


.goal__container {
    margin-top: 15px;
    margin-left: -37px;
}

.buttons__container {
    display: flex;
}

button:first-of-type {
    margin-right: 5px;
}
