.current_goals_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* for completed goal list template */
.completed_goals__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completed_goal__container {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.nav_links {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goals_header {
    font-size: 3em;
}

.goal_list__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.goal__container {
    margin-top: 5px;
}

.buttons__container {
    display: flex;
}

button:first-of-type {
    margin-right: 5px;
}
