.journal_list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_info {
    margin-left: -54px;
}

.entries__header {
    margin-bottom: 10px;
}

.submit_btn__container {
    display: flex;
    justify-content: center;
}

.journal_entry__container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: -30px;
}

.entry__body {
    border-bottom: 1px solid lightgray;
    width: 300px;
}

.delete_button__container {
    position: relative;
}

.delete__button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: none;
}