.homepage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.net_income__container {
    margin: 20px 0;
}

.net_income__total {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.details__button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.progress__container {
    margin-top: 10px;
}

.progress__header {
    display: flex;
    justify-content: center;
}

.canvas__container {
    width: 800px;
    height: 800px;
}

canvas {
    max-width: 800px;
}
