.header {
    display: flex;
    justify-content: center;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    margin-top: 5px;
}

.delete__button {
    margin-top: -58px;
}

fieldset:first-of-type {
    margin: 5px 0;
}