{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/netincome_details.css' %}" />
{% endblock %}

{% block content %}
    <div class="net_income_details__container">
        <section class="calculations">
            <h1 class="header">How It's Calculated:</h1>
            <div class="gross_income">
                <h2>Gross Monthly Income:</h2>
                <span>${{ total_income }}</span>
            </div>
            <div class="gross_expenses">
                <h2>Total Monthly Expenses:</h2>
                <span>${{ total_expense }}</span>
            </div>
        </section>

        <section class="result">
            <h1>Expected Net Income:</h1>
            <span>{{ net_income }}</span>
        </section>

        <a href="{% url 'fundstrackerapp:home' %}">
            <button class="btn btn-outline-primary btn-sm">Back to Home</button>
        </a>
    <div>
{% endblock %}