{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/netincome.css' %}" />
{% endblock %}

<script>
{% block jquery %}

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['One Month', 'Three Month', 'Six Month', 'One Year'],
        datasets: [{
            label: 'Current vs Completed Goals',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

{% endblock %}
</script>

{% block content %}
    <div>
        <section>
            <h1>Expected Net Income:</h1>
            <div class="net_income__total">{{ net_income }}</div>
            <a href="{% url 'fundstrackerapp:netincome_details' %}"><button>Details</button></a>
        </section>
        
        <section class="plotly_graph__container">
            <h1>Your Progress:</h1>
            <br />
            <canvas id="myChart" width="400" height="400"></canvas>
        </section>
    <div>
{% endblock %}