{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/netincome.css' %}" />
{% endblock %}

<script>
{% block jquery %}
var one_month_progress_percentage = "{{ one_month_progress_percentage }}"
var three_month_progress_percentage = "{{ three_month_progress_percentage }}"
var six_month_progress_percentage = "{{ six_month_progress_percentage }}"
var twelve_month_progress_percentage = "{{ twelve_month_progress_percentage }}"

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['One Month', 'Three Month', 'Six Month', 'One Year'],
        datasets: [{
            label: 'Completed Financial Goals',
            data: [one_month_progress_percentage, three_month_progress_percentage,
                six_month_progress_percentage, twelve_month_progress_percentage],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                     // Include a % sign in the ticks
                    callback: function(value, index, values) {
                        return value + '%';
                    },
                    max: 100
                }
            }]
        }
    }
});

{% endblock %}
</script>

{% block content %}
    <div class="homepage__container">
        <section class="expected_net_income">
            <h1>Monthly Net Income:</h1>
            <div class="net_income__container">
                <div class="net_income__total {% if net_income > 0 %} text-success {% elif net_income == 0%}text-body{% else %}text-danger{% endif %}">${{ net_income }}</div>
                <a class="details__button" href="{% url 'fundstrackerapp:netincome_details' %}">
                    <button class="btn btn-outline-primary btn-sm">Details</button>
                </a>
            </div>
        </section>
        
        <section class="progress__container">
            <h1 class="progress__header">Your Progress:</h1>
            <br />
            <div class="canvas__container">
                <canvas id="myChart"></canvas>
            </div>
        </section>
    <div>
{% endblock %}