{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/registration.css' %}" />
{% endblock %}


{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="register_form__container">
        <h2>Register</h2>
        <form action="{% url 'fundstrackerapp:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form.username.errors }}
            <label for="username">Username: </label>
            {{ form.username }}
        </fieldset>
        <fieldset>
            {{ form.password1.errors }}
            <label for="password">Password: </label>
            {{ form.password1 }}
        </fieldset>
        <fieldset>
            {{ form.password2.errors }}
            <label for="password_confirmation">Password Confirmation: </label>
            {{ form.password2 }}
        </fieldset> 

        <input class="btn btn-primary btn-sm submit_btn" type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}