{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/pastgoals.css' %}" />
{% endblock %}

{% block content %}
    <div>
        <h1>Past Goals:</h1>
        
        <section class="one_month_goals">
            <h1>One Month Goals:</h1>
            <ul>
                {% for goal in past_one_month_goals %}
                <li>{{ goal.goal }} {% if goal.is_completed %}<span>Completed</span>{% endif %} </li>
                <span>Created: {{ goal.created_at }}</span>
                {% if goal.is_completed != 1%}<a href="{% url 'fundstrackerapp:past_goal_edit_form' goal.id %}"><button>Re-open Goal</button></a>{% endif %}
                <form action="{% url 'fundstrackerapp:past_goal_details' goal.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE" />
                    <button onclick="return confirm('Are you sure?');">Delete</button>
                </form>
                {% endfor %}
            </ul>
        </section>
        
        <section class="three_month_goals">
            <h1>Three Month Goals:</h1>
            <ul>
                {% for goal in past_three_month_goals %}
                <li>{{ goal.goal }} {% if goal.is_completed %}<span>Completed</span>{% endif %} </li>
                <span>Created: {{ goal.created_at }}</span>
                {% if goal.is_completed != 1%}<a href="{% url 'fundstrackerapp:past_goal_edit_form' goal.id %}"><button>Re-open Goal</button></a>{% endif %}
                <form action="{% url 'fundstrackerapp:past_goal_details' goal.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE" />
                    <button onclick="return confirm('Are you sure?');">Delete</button>
                </form>
                {% endfor %}
            </ul>
        </section>
        
        <section class="six_month_goals">
            <h1>Six Month Goals:</h1>
            <ul>
                {% for goal in past_six_month_goals %}
                <li>{{ goal.goal }} {% if goal.is_completed %}<span>Completed</span>{% endif %} </li>
                <span>Created: {{ goal.created_at }}</span>
                {% if goal.is_completed != 1%}<a href="{% url 'fundstrackerapp:past_goal_edit_form' goal.id %}"><button>Re-open Goal</button></a>{% endif %}
                <form action="{% url 'fundstrackerapp:past_goal_details' goal.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE" />
                    <button onclick="return confirm('Are you sure?');">Delete</button>
                </form>
                {% endfor %}
            </ul>
        </section>
        
        <section class="twelve_month_goals">
            <h1>Twelve Month Goals:</h1>
            <ul>
                {% for goal in past_twelve_month_goals %}
                <li>{{ goal.goal }} {% if goal.is_completed %}<span>Completed</span>{% endif %} </li>
                <span>Created: {{ goal.created_at }}</span>
                {% if goal.is_completed != 1%}<a href="{% url 'fundstrackerapp:past_goal_edit_form' goal.id %}"><button>Re-open Goal</button></a>{% endif %}
                <form action="{% url 'fundstrackerapp:past_goal_details' goal.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE" />
                    <button onclick="return confirm('Are you sure?');">Delete</button>
                </form>
                {% endfor %}
            </ul>
        </section>
        <a href="{% url 'fundstrackerapp:goals' %}">
            <button>Back to Goals</button>
        </a>
    <div>
{% endblock %}