{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/journalentrydetails.css' %}" />
{% endblock %}

{% block content %}
    <div class="entry_details">
        <h1>Journal Entries</h1>
        <a href="{% url 'fundstrackerapp:goals' %}"><button class="btn btn-outline-primary btn-sm">Back to Goals</button></a>

        <section class="journal_entries__container">
            <ul>
                {% for entry in journal_entries %}
                    <div class="entry__container">
                        <div class="user">{{ user.first_name }} {{ user.last_name }}:</div>
                        <div class="journal_entry">{{ entry.entry }}</div>
                        <span>Created date: {{ entry.created_at }}</span>
                    </div>
                {% endfor %}
            </ul>
        </section>
    <div>
{% endblock %}