{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/entryform.css' %}" />
{% endblock %}


{% block content %}

<h1 class="header">New Entry</h1>

<div class="form__container">
{% comment %} {% if income_source.id is not None %} {% endcomment %}
    {% comment %} <form action="{% url 'fundstrackerapp:income_source' income_source.id %}" method="post"> {% endcomment %}
        {% comment %} <input type="hidden" name="actual_method" value="PUT"> {% endcomment %}
{% comment %} {% else %} {% endcomment %}
    <form action="{% url 'fundstrackerapp:journal_list' %}" method="post">
{% comment %} {% endif %} {% endcomment %}
      {% csrf_token %}
      <fieldset>
          <label for="entry">Entry:</label>
          <textarea class="form-control" id="entry" type="text" name="entry"></textarea>
      </fieldset>
      <fieldset>
          <label for="goal">Attach to Goal: </label>
          <select class="form-control" id="goal" name="goal">
            <option hidden disabled selected value> -- select an option -- </option>
            {% for goal in current_goals %}
            <option value="{{ goal.id }}">{{ goal.goal }}</option>
            {% endfor %}
          </select>
      </fieldset>

       <input class="btn btn-primary btn-sm" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}