{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/journallist.css' %}" />
{% endblock %}

{% block content %}
    <div>
        <section class="user_info">
            <img />
            <div class="name_container">
                <h2>Name:</h2>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="username_container">
                <h2>Username:</h2>
                <p>{{ user.username }}</p>
            </div>
        </section>

        <section class="journal_entries">
            <h1>Journal Entries:</h1>
            <ul>
                {% for entry in all_entries %}
                <div class="journal_entry__container">
                    {% comment %} <a href="{% url 'fundstrackerapp:income_edit_form' income.id %}"> {% endcomment %}
                        <li>{{ user.first_name }}: {{ entry.entry }}</li>
                    {% comment %} </a> {% endcomment %}
                    
                    {% comment %} <form action="{% url 'fundstrackerapp:income_source' income.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE" />
                        <button onclick="return confirm('Are you sure?');">Delete</button>
                    </form> {% endcomment %}
                </div>
                {% endfor %}
            </ul>
            <a href="{% url 'fundstrackerapp:journal_entry_form' %}"><button>Add Journal Entry</button></a>
        </section>
    <div>
{% endblock %}