{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/journallist.css' %}" />
{% endblock %}

{% block content %}
    <div class="journal_list__container">
        <section class="user_info">
            <img />
            <div class="name_container">
                <h2>Name:</h2>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="username_container">
                <h2>Username:</h2>
                <p>{{ user.username }}</p>
            </div>
        </section>

        <section class="journal_entries">
            <h1 class="entries__header">Journal Entries:</h1>
            <ul>
                {% for entry in all_entries %}
                <div class="journal_entry__container">
                    <li>{{ user.first_name }}: {{ entry.entry }}</li>
                    {% for goal in goals %}
                        {% if goal.id == entry.financial_goal_id %}
                            <span class="entry_goal">Goal: {{ goal.goal }}</span>
                        {% endif %}
                    {% endfor %}

                    <form action="{% url 'fundstrackerapp:journal_entry_delete' entry.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE" />
                        <button class="btn btn-danger btn-sm delete__button" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </ul>
            <a href="{% url 'fundstrackerapp:journal_entry_form' %}">
                <button class="btn btn-outline-primary btn-sm">Add Journal Entry</button>
            </a>
        </section>
    <div>
{% endblock %}