{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/journallist.css' %}" />
{% endblock %}

{% block content %}
    <div>
        <section class="user_info">
            <img />
            <div class="name_container">
                <h2>Name:</h2>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="username_container">
                <h2>Username:</h2>
                <p>{{ user.username }}</p>
            </div>
        </section>

        <section class="journal_entries">
            <h1>Journal Entries:</h1>
            <ul>
                {% for entry in all_entries %}
                <div class="journal_entry__container">
                    <li>{{ user.first_name }}: {{ entry.entry }}</li>
                    {% for goal in goals %}
                        {% if goal.id == entry.financial_goal_id %}
                            <span>Goal: {{ goal.goal }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </ul>
            <a href="{% url 'fundstrackerapp:journal_entry_form' %}"><button>Add Journal Entry</button></a>
        </section>
    <div>
{% endblock %}